<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destino Aventuro</title>

    <!-- Load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="{% static 'img/puesta-de-sol.png' %} " alt="Logo" class="logo">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">¿Quiénes somos?</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Viajes</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
  
    </header>
      
    <section
    class="header-content"></section>
            <div class="container">
                <h1>Explora el mundo con nosotros</h1>

        </div>
    </section>

    <section class="dropdown">
        <h3>Selecciona un destino</h3>
        <form method="post" action="{% url 'trip_details' %}">
            {% csrf_token %}
            <select name="trip" onchange="this.form.submit()">
                <option value="">Seleccione un viaje</option>
                {% for trip in trips %}
                    <option value="{{ trip.id }}">{{ trip.destination }} - Salida: {{ trip.leaving_date }} - Regreso:{{ trip.return_date }} </option>
                {% endfor %}
            </select>
        </form>
    </section>
</body>
</html>
